Source: python-simplexquery
Section: python
Priority: extra
Maintainer: ichiyama ryoichi <bellbind@gmail.com>
Build-Depends: debhelper (>= 7),  python-support, 
 python2.6-dev, python3.1-dev, python-setuptools, python3-setuptools,
 libxqilla-dev, libxerces-c2-dev
Standards-Version: 3.8.4
XS-Python-Version: 2.6, 3.1
Homepage: http://github.com/bellbind/python-simplexquery

Package: python-simplexquery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, libxqilla3, 
Description: A simple native XQuery processing module using xqilla.
 Usage:
 .
      import simplexquery as sxq
      print(sxq.execute("<body>{string(/user)}</body>", "<user>Taro</user>"))
 .
 This module is designed for using XQuery on python easily, so the module:
 . 
   - only provides stateless functions which only use python builtins objects
   - ...

Package: python3-simplexquery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, libxqilla3
Description: A simple native XQuery processing module using xqilla.
 Usage:
 .
      import simplexquery as sxq
      print(sxq.execute("<body>{string(/user)}</body>", "<user>Taro</user>"))
 .
 This module is designed for using XQuery on python easily, so the module:
 .
   - only provides stateless functions which only use python builtins objects
   - ...
